<!-- Event Disclaimer -->
<div class="events-disclaimer">
	Unsere Events sind keine Therapie und ersetzen in keiner Weise professionelle therapeutische Behandlungen. Die Treffen fokussieren kollektive Themen, die sich auch in individuellem Themen widerspiegeln. Unsere Treffen sind NICHT für Dich geeignet, wenn Du aktuell an PTSD Symptome leidest oder an Angst- und Panikattacken. Bitte gewährleiste, dass Du ein Gefühl von innerer Sicherheit in Dir und in Deiner Umgebung hast und dass du weißt, wie Du Dich erden kannst, wenn Du an diesen Events teilnimmst.
</div>
